<!DOCTYPE html>
<html>
<head>
<title><Welcome</title>
</head>
<body>
	<h2>Здравствуйте.</h2>
	<p>Тестовое задение с django, которые было выложено на gitlab.</p>
	<h3>Отправка сообщений</h3>
	<p>Для того, чтобы начать отправлять сообщение, нужно обратиться по пути:
	<a href="http://127.0.0.1:8000/mailing/send/1/">http://127.0.0.1:8000/mailing/send/1/</a>, где 1 - это message_id.</p>
	<p>Все сообщения хранятся в БД, таблица mailing_mailing</p>
	<p> Если сообщение не было найдено, то будет возрат json, в котором указано, что ошибка:
	<a href="http://127.0.0.1:8000/mailing/send/4/">http://127.0.0.1:8000/mailing/send/4/</a>
	</p>
	<h3>Отмена отправки сообщений</h3>
	<p><a href="http://127.0.0.1:8000/mailing/cancel/4/">http://127.0.0.1:8000/mailing/cancel/4/</a></p>
	<h3>mailing/docs</h3>
	<p><a href="http://127.0.0.1:8000/mailing/docs">docs</a></p>
	<h3>Отправка данных через post-запрос</h3>
	<p>import requests<p>
	url = 'http://127.0.0.1:8000/mailing/upload/'<p>
	json_data = {'phone_number': '74953100000',
             'tag': 'post',
             'timezone': 'UTC+3',
	     'operator_code': 'mts'}<p>
	r = requests.post(url, json_data)<p>
	result = r.json()<p>
	if result['status'] == 'success':<p>
	print('[+] A message add in DB')<p>
	else:<p>
	print('[-] An error occurated')<p>

	</p>
	<h3>Дополнительные задания</h3>
	<p>Были выполнены задания с номерами: 2, 3, 5 (частично)</p>
</body>
</html>
